<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>

    <nav class="navbar">
        <p><a href="/">Home</a></p>
        <p><a href="/login">Login</a></p>
        <p><a href="/todolist">Todos</a></p>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %} 
    </div>
</body>
</html>