* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(73, 73, 73);
    color:white;
  }


div {

    padding: 10px;
    align-items: center;
    display: block;
    text-align: center;

}



nav {
    display: flex; 


}

nav p {
    border: solid white 1px;
    border-radius: 10%;
    color: white;
    padding: 10px;
    margin: 7px;

}

nav p:hover {
    background-color: rgb(124, 123, 120);
}

.navbar {
    justify-content: right;
    padding-right: 15px;
}

header {
    color: white;
    padding: 10px;

}

img {
    width: 90%;
    max-width:min-content;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.centered {
    margin: 5%;
    width: auto;
    max-width: 90%;
}

.todolist {
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 10px;
    color: white;
    border: solid white 1px;
}