{% extends 'base.html' %} 
{% block content %}

<header>
    <h1>Welcome to my Pomodoro app</h1>
</header>

<div>

    <h2>A simple productivity tool</h2>

</div>

<div>

<p class="text">
    1. Working sequence starts (25 minutes). <br> <br>
    2. App encourages user to end work and take a short break (5 minutes). <br> <br>
    3. This will have completed one pomodoro. With fewer than three pomodoros, app loops back to Step 1. <br> <br>
    4. After the fourth pomodoro the app sets a long break (30 minutes). Once the long break is finished, return to step 1. <br> <br> <br>
</p>
<p class="text">
    Ideally, I would like this application to look visually appealing and potentially have some 
    nice features (for example, a nice minimalistic counter). Main focus of my foundation project 
    will still be to get the necessary functionality to work and implement personal logins and databases. <br> <br>
</p>
<p>
    This project uses Flask, basic HTML/CSS features and some Javascript. 
</p>

</div>

{% endblock %}