{% extends 'base.html' %} 
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
{% endwith %}

<form action="", method = "post" novalidate> 
    <input type="hidden" name="next_url" value="{{ request.args.get('next', '') }}" />  

    {{ form.hidden_tag() }}

    {{ form.username.label }} <br>
    {{ form.username() }} <br>

    {{ form.password.label }} <br>
    {{ form.password() }} <br>

    {{form.submit()}} <br>

</form> <br>
<div>
    <p>Don't have an account yet?</p>
    <a class = "button" href="{{ url_for('main_pages.register') }}"> Sign up </a>
</div>

{% endblock %}