{% extends 'base.html' %} {% block content %}
<script src="{{ url_for('static',filename='src/todos.js') }}"></script>
<div class="main-counter-column">
    <div class="column"></div>

    <div class="counter main-column">
        <div class="counter-buttons">
            <button id = "work", class="counter-button work">WORK</button>
            <button id = "rest", class="counter-button rest">REST</button>
            <button id = "break", class="counter-button break">BREAK</button>
        </div>
        <h1 class="counter-display">00:00</h1>   
        <div class="main-controls-column">
            <div class="controls-column">
            </div>  
            <div class="play-btn-column">
                <button class="counter-start">Start</button>
            </div>
            <div class="controls-column">
                <button class="counter-skip">>></button>          
            </div>
        </div>
        <script src="{{ url_for('static',filename='src/timer.js') }}"></script>
        <script src="{{ url_for('static',filename='src/notifications.js') }}"></script>
        <script src="{{ url_for('static',filename='src/app.js') }}"></script>
    </div>

    <div class="column"></div>
</div>
<header>
    <h1>Your tasks for the day</h1>
</header>

<div class = 'todolist'>
    {% if todos %}
    <ul>
        {% for task in todos %}
        <div class ="todo_element">

            <div class="task">
            <li> {{ task.task }} </li>
            </div> 

            <a class="done-button" onclick="deleteTask(this.closest('div.todo_element'), '{{ task.task }}')">Done</a>

        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<form action="", method = "post" novalidate> 

    {{ form.hidden_tag() }}

    {{ form.todo.label }} <br>
    {{ form.todo() }} <br>

    {{form.submit()}} <br>

</form> <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}


{% endblock %}