{% extends 'base.html' %} {% block content %}
<div class="main-counter-column">
    <div class="column"></div>

    <div class="counter main-column">
        <h1 class="counter-display">00:00</h1>     
        <button class="counter-start">Start</button>
        <button class="counter-skip">Skip</button>

        <script src="{{ url_for('static',filename='src/app.js') }}"></script>
    </div>

    <div class="column"></div>
</div>
<header>
    <h1>Your tasks for the day</h1>
</header>

<div class = 'todolist'>
    {% if todos %}
    <ul>
        {% for task in todos %}
        <div class ="todo_element">

            <div class="task">
            <li> {{ task.task }} </li>
            </div> 

            <a class="done-button" href= "/delete/{{ task.task }}" >Done</a> 

        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>


<form action="", method = "post" novalidate> 

    {{ form.hidden_tag() }}

    {{ form.todo.label }} <br>
    {{ form.todo() }} <br>

    {{form.submit()}} <br>

</form> <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}


{% endblock %}